@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* color: #ffffff; */
    /* font-family: "Ubuntu", sans-serif; */
}

body {
    background-color: #F0F0F0;
}

.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto; 
   
}


header{
    width: 100%;
    height: 100px;
    padding: 0 20px; 
    background-color: #056CF2;
    display: flex;
    justify-content: space-between;
    gap: 450px;
    align-items: center;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

nav a{
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.loja-button{
    /* width: 150px;
    height: 50px;
    border-radius: 7px; */
    
    background-color: #FFA600; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 60px;
    width: 160px;
      
    
}

.loja-button button{
    align-items: center;
    font-size: 25px;
    background: none;
    border: none;
    text-align: center;
}

.caixa-resultados{
    display: flex;
    background-color: #fffffff6;
    height: 120px;
    padding-left: 90px;
    padding-right: 90px;
    gap: 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    

}

.resultados{
    display: flex;
    width: 10%;
    flex-direction: column;
    border-right: 2px solid #000000;
    margin-left: 20px;
    margin-right: 20px;
    
}
.resultados:nth-child(1){
    
    /* opacity: 20%; */
    border-left: 4px solid #c4c4c4;

}
.linha{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 ;
    font-size: 16px;
}

.linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    /* font-family: inter; */
}

.time{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.caixa-noticias{
    display: flex;
    justify-content: start;
    background-color: #056CF2;
    padding-left: 70px;
    margin-left: 147px;
    margin-top: 100px;
    width: 85%;
    height: 800px;
    background-image: url("../img/Curry.png");
    background-size: cover;
    background-repeat: no-repeat;

    
}
.conteudo{
    font-size: 20px;
    color: #ffffff;
    margin-top: 20%;
}
.conteudo h2{
    font-size: 15px;
    font-weight: bold;
}
.conteudo h1{
    font-weight: bold;
    font-size: 30px;

}

.button{
    background: none;
    border: 3px solid #ffffff;
    text-align: center;
    font-size: 25px;
    border-radius: 40px;
    color: #ffffff;
    width: 200px;
    padding: 20px;

}

